    <header>
      <div class="header__wrapper">
        <div class="header__wrapper-item">
          <div class="header__wrapper-lt">
            <i class="fa-solid fa-chevron-left"></i>
            <p>Back</p>
          </div>
          <div class="header__wrapper-ct">
            <i class="fa-solid fa-desktop"></i>
            <i class="fa-solid fa-mobile"></i>
          </div>
          <div class="header__wrapper-bt">
            <button>Try theme</button>
          </div>
        </div>
      </div>
      <div class="header__tp">
        <div class="container">
          <div class="header__top">
            <div class="header__top-icon">
              <a href="#">
                <i class="fa-brands fa-square-facebook"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-youtube"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-tiktok"></i>
              </a>
              <a href="#">
                <i class="fa-solid fa-circle-xmark"></i>
              </a>
              <p>
                <a href="tel:+0123456780">0123456780</a>
              </p>
            </div>
            <div class="header__top-bar">
              <p>New customers 10% off with WELCOME</p>
            </div>
            <div class="header__top-context">
              <div class="header__top-store">
                <i class="fa-solid fa-shop"></i>
                <p>Stores</p>
              </div>
              <div class="header__top-store">
                <i class="fa-solid fa-earth-americas"></i>
                <p>₹ INR / EN</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header__bt">
        <div class="container">
          <div class="header__bottom">
            <div class="header__bottom-lt">
              <img src="./public/img/logo-b.svg" alt="" />
            </div>
            <div class="header__bottom-ct">
              <nav>
                <ul>
                  <li>
                    <a class="bottom-ct" href="#"> Home </a>
                  </li>
                  <li>
                    <a class="bottom-ct" href="#">
                      Shop
                      <i class="fa-solid fa-chevron-down"></i>
                    </a>
                  </li>
                  <li>
                    <a class="bottom-ct" href="#">
                      New Arrivals
                      <i class="fa-solid fa-chevron-down"></i>
                    </a>
                  </li>
                  <li>
                    <a class="bottom-ct" href="#">
                      Collections
                      <i class="fa-solid fa-chevron-down"></i>
                    </a>
                  </li>
                  <li>
                    <a class="bottom-ct" href="#"> About </a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="header__bottom-bt">
              <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
              <a href="#">
                <i class="fa-regular fa-user"></i>
              </a>
              <a href="#">
                <i class="fa-solid fa-bag-shopping"></i>
              </a>
            </div>
          </div>
        </div>
        <hr class="header__bt-hr" />
      </div>
    </header>