#Arrivals {
  background-color: #f4f4f4;
  padding-bottom: 100px;
}
.Arrivals__h1 {
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 0;
}

.Arrivals__item-new img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  object-fit: cover;
  transition: all 0.3s linear;
}

.Arrivals__item-new {
  /* width: 418px; */
  height: 420px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px;
}

.Arrivals__item-img {
  width: 418px;
  height: 420px;
}

.Arrivals__item-new:hover img {
  transform: scale(1.02);
  border-radius: 20px;
}

.Arrivals__item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Arrivals__item-new {
  display: flex;
  /* align-items: center; */
}

.Arrivals__item-bg {
  width: 360px;
  padding: 20px;
  padding-left: 30px;
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.Arrivals__item-bg h6 {
  font-size: 35px;
  font-weight: 600;
  height: 84px;
  margin: 0;
  line-height: 1;
}

.Arrivals__item-bg p {
  font-size: 16px;
  font-weight: 350;
  margin-top: 20px;
  margin-bottom: 30px;
}

.Arrivals__item-new .Arrivals__item-bg {
  opacity: 0;
  transform: translateX(-356px);
  transition: opacity 0.1s ease-in-out, transform 0.2s ease-in-out;
}

.Arrivals__item-new:hover .Arrivals__item-bg {
  opacity: 1;
  transform: translateX(0);
}

/* .Arrivals__item-new1:hover .Arrivals__item-bg2 {
  opacity: 0;
  transform: translateX(-356px);
  transition: all 0.1s ease-in-out;
} */

/* .Arrivals__item-new .Arrivals__item-bg2 {
  opacity: 1;
  transform: translateX(-356px);
  transition: all 0.1s ease-in-out;
} */

/* .Arrivals__item-new .Arrivals__item-bg3 {
  opacity: 1;
  transform: translateX(-356px);
  transition: all 0.1s ease-in-out;
} */
