/* .beforeafter__content img {
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

*/

.img-comp-container {
  position: relative;
  height: 700px;
}

.beforeafter__p p {
  font-size: 35px;
  font-weight: 650;
  color: white;
}

.beforeafter__pp p {
  font-size: 35px;
  font-weight: 650;
  color: white;
}

.beforeafter__p {
  position: absolute;
  bottom: -680px;
  left: 50px;
}

.beforeafter__pp {
  position: absolute;
  bottom: -680px;
  right: 50px;
}

#beforeafter {
  margin-bottom: 750px;
}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-overlay {
  background-color: white;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196f3;
  opacity: 0.7;
  border-radius: 50%;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 40px;
  height: 40px;
  background-color: #2196f3;
  opacity: 0.7;
  border-radius: 50%;
}
