.btn__bt {
  width: 210px;
  height: 65px;
  text-align: center;
  border-radius: 50px;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.btn__bt span {
  font-size: 20px;
  letter-spacing: 2px;
}

.btn__bt i {
  border: 1px solid black;
  border-radius: 999px;
  font-size: 14px;
  width: 30px;
  height: 30px;
  padding-top: 7px;
}

.btn__bt:hover {
  background-color: #dbe112;
}

.btn__bt {
  position: relative;
  transition: all 0.2s linear;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn__bt:hover i {
  content: "";
  position: absolute;
  left: 140px;
  transform: translateX(90%);
  width: 30px;
  height: 30px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transition: right 0.5s linear;
}

.btn__bt span:hover {
  animation: move-right 0.5s infinite alternate;
}

.btn__bt span:hover {
  outline: 0;
  scrollbar-width: thin;
  scrollbar-color: #ddd transparent;
  -webkit-tap-highlight-color: transparent;
}

.btn__bt span {
  position: relative;
  display: inline-block;
  transition: transform 0.5s linear;
}

.limited__content h2 {
  font-size: 65px;
  font-weight: 650;
  width: 740px;
  height: 170px;
  margin: 0;
  margin-bottom: 30px;
  color: white;
}

.limited__content h2 em {
  font-weight: 550;
}

.limited__bg {
  background-image: url(../../public/img/pngtree-close-up-high-resolution-photo-of-textured-black-paper-image_13706462.png);
  height: 720px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  position: relative;
}

.limited__content {
  position: absolute;
  left: 30px;
  bottom: 240px;
}
