#resources {
  margin: 50px 0;
}

.resources__h1 {
  font-size: 65px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 78px;
}

.resources__h1 p {
  -webkit-text-stroke: 1px black;
  color: transparent !important;
}

.resources__item i {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
  line-height: 70px;
  font-size: 35px;
}

.resources__item h3 {
  font-size: 30px;
  font-weight: 550;
  /* width: 330px; */
  margin: 0;
  padding-top: 30px;
}

.resources__item p {
  font-size: 16px;
  /* width: 330px; */
  margin: 0;
  padding-top: 15px;
}

.resources__item {
  border: none;
  width: 420px;
  height: 280px;
  padding: 20px 25px;
  border-radius: 20px;
  background-color: #dedee1;
  position: relative;
  transition: all 0.3s linear;
}

.resources__content {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.resources__item:hover {
  background-color: black;
  color: white;
}

.resources__content .resources__item:hover fa-solid {
  border: 1px solid white;
}
